#output
{
background: skyblue;
border-radius: 10px;
border-top: 10px solid tomato;
padding: 10px;
float: none;
text-align: left;
}

.container{
    background-color: salmon;
    border-color: tomato;
}

label{
    font-size: 35px;
}

input{
    height: 25px;
}

button{
    margin-top: 50px;
    margin-bottom: 50px;
    height: 30px;
    width: 100px;
}

body{
    background-color: skyblue;
}
