#login_div1{
    background-color: skyblue;
    margin-bottom: 50px;
    margin-left: 575px;
}

#screen_div{
    text-align: center;
}

#login_div2{
    background-color: tomato;
    margin-right: 1000px;
    margin-left: 575px;
}

#login_screen{
    background-color: salmon;
}

#login_button{
    margin-top: 150px;
}