#a{
    width: 500px;
    height: 500px;
}

#b{
    width: 500px;
    height: 500px;
}

#c{
    width: 500px;
    height: 500px;
}

#d{
    width: 500px;
    height: 500px;
}

#e{
    width: 500px;
    height: 500px;
}

#f{
    width: 500px;
    height: 500px;
}

#g{
    width: 1000px;
    height: 500px;
}

#h{
    width: 500px;
    height: 500px;
}

#i{
    width: 500px;
    height: 500px;
}

#j{
    width: 500px;
    height: 500px;
}

#k{
    width: 500px;
    height: 500px;
}

#l{
    width: 500px;
    height: 500px;
}

#m{
    width: 500px;
    height: 500px;
}

#n{
     width: 500px;
    height: 500px;
}

#o{
     width: 500px;
    height: 500px;
}