.body{
    background-image: url("download.png");
}


#head h1{
    float: left;
    display: inline;

}

#head button{
    float: right;
    display: inline;
    font-size: 30px;
}

.footer{
    margin-bottom: 0%;
    color: darkgray;
    border: black;
}

.modal-dialog{
    width: 90%;
}
